.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Adjust the height as per your requirement */
}

.chat-row {
  padding: 10px;
  border-top: 1px solid #ccc;
  flex: 1;
}

.scrollable-row {
  overflow-y: auto;
}



.navbar {
  background-image: url('http://122.53.86.62:1945/assets/images/camo.png');
  /* Replace with the path to your background image */
  background-repeat: repeat-x;
  /* This will make the image repeat horizontally */
  background-size: 200px 200px;
  box-shadow: inset 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
}

.panel {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 12px;
}

.new-data {
  animation: fade 2s;
}

@keyframes fade {
  0% {
    background-color: lightgreen;
    opacity: 0.2;
  }

  100% {
    opacity: 1;
    background-color: none;
  }
}

.fixed-side-panel {
  width: 250px;
  background-color: white;
  padding: 10px;
  max-height: 100vh;
  overflow-x: auto;
}