<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/css/popUpClass.css') }}" />
</head>

<body>
    <div style="margin:30px;height: 95vh;" class="d-flex flex-column bg-white">
        <h1 class="display-5 text-center" style="padding: 10px;">Administrator Panel</h1>
        <table class="table align-center table-hover" id="main-table">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Id</th>
                    <th scope="col">Event</th>
                    <th scope="col">Aggresor</th>
                    <th scope="col">Target</th>
                    <th scope="col ">Decision</th>
                    <th scope="col ">Finalize</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="table-body">

            </tbody>
        </table>
    </div>
    <!-- <div class="offcanvas-body scrollable-row" id="chat-box" style="flex-grow: 1000"> -->
</body>
<script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', path='/js/socketio.js') }}"></script>
<script src="{{ url_for('static', path='/js/socket_admin.js') }}"></script>

</html>