{% import 'chatMacro.html' as chatMacro %}
{% import 'debugPanel.html' as debugPanel %}
<html>

<head>
  <title>Item Details</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/popUpClass.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='/css/leaflet.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='/css/pulsing_icon.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.css') }}" />
</head>

<body > 
  <nav class="navbar navbar-expand-lg bg-dark" style="
        position: absolute;
        width: 100vw;
        height: 40px;
        z-index: 1000;
        padding-left: 60px;
        gap: 5px;
      " ;>
    <div class="d-flex flex-row"></div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Country
      </button>

      <div class="dropdown-menu" style="padding: 4px">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="filter-USA" checked
            onchange="visibilityToggler(event, 'country', 'USA')" />
          <label class="form-check-label" for="filter-USA">USA</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="filter-China" checked
            onchange="visibilityToggler(event, 'country', 'CHINA')" />
          <label class="form-check-label" for="filter-China">China</label>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Asset Type
      </button>

      <div class="dropdown-menu" style="padding: 4px">
        <div>
          <input class="form-check-input" type="checkbox" value="" id="asset-1" />
          <label class="form-check-label" for="asset-1">
            Aircraft Carrier
          </label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="asset-2" checked />
          <label class="form-check-label" for="asset-2">
            Infrastructure
          </label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="asset-3" checked />
          <label class="form-check-label" for="asset-3">
            Chopper
          </label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="asset-4" checked />
          <label class="form-check-label" for="asset-4">
            Aircraft
          </label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="asset-5" checked />
          <label class="form-check-label" for="asset-5">
            Battleship
          </label>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Visual Aids
      </button>

      <div class="dropdown-menu" style="padding: 4px">
        <div>
          <input class="form-check-input" type="checkbox" value="" id="visual-2" onchange="visibilityToggler(event, 'routes')" checked/>
          <label class="form-check-label" for="visual-2">
            Routes
          </label>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" value="" id="visual-3" onchange="visibilityToggler(event, 'radars')" checked/>
          <label class="form-check-label" for="visual-3">
            Radars
          </label>
        </div>
      </div>
    </div>
    <!-- <button
        class="btn btn-primary btn-sm"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#activityLog"
        aria-controls="offcanvasScrolling"
      >
        Activity log
      </button> -->
    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#chatLog"
      aria-controls="offcanvasScrolling">
      Events
    </button>
    <select class="form-select form-select-sm" aria-label="multiple select example" id="debug-flag-change" style="width: 10vw">
      <option selected value="CHINA">China</option>
      <option value="USA">USA</option>
      <option value="RUSSIA">Russia</option>
      <option value="INDIA">India</option>
    </select>
    <select class="form-select form-select-sm" aria-label="multiple select example" id="debug-asset-change" style="width: 10vw">
      <option selected value="Dragon">Dragon</option>
      <option value="Eagle">Eagle</option>
    </select>
  </nav>
  <div class="offcanvas offcanvas-end chat-container" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="chatLog" aria-labelledby="chatLog">
   
  </div>
  <!-- <div id="map" style="height: 100vh; filter: invert(1) contrast(1.2);"></div> -->

  
  <div id="map" style="height: 100vh;"></div>
  {{chatMacro.modalMacro()}}
  {{chatMacro.debugMacro()}}
  <!-- {{debugPanel.debugMacro()}} -->
</body>
<script src="{{ url_for('static', path='/js/leaflet.js') }}"></script>
<script src="{{ url_for('static', path='/js/lib_pathflow.js') }}"></script>
<script src="{{ url_for('static', path='/js/store.js') }}"></script>
<script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', path='/js/leaflet_rotation.js') }}"></script>
<script src="{{ url_for('static', path='/js/socketio.js') }}"></script>
<script src="{{ url_for('static', path='/js/pulsing_icon.js') }}"></script>
<script src="{{ url_for('static', path='/js/logger.js')}}" type="module"></script>
<script src="{{ url_for('static', path='/js/database.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/painter.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/visibility_class.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/socket_actual.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/class_path.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/drawFunctions.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/init_map.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/bases.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/collision_detection.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/war.js') }}" type="module"></script>

</html>