<html>
<head>
    <title>Item Details</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/leaflet.css') }}">
</head>
<body>
    <div id="map" style="height: 100vh;"></div>
</body>
<script src="{{ url_for('static', path='/js/leaflet.js') }}"></script>
<script src="{{ url_for('static', path='/js/leaflet_ani.js') }}"></script>
<script src="{{ url_for('static', path='/js/leaflet_antimeridian.js') }}"></script>
<script src="{{ url_for('static', path='/js/war.js') }}"></script>
<script src="{{ url_for('static', path='/js/test.js') }}"></script>
</html>