<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.css') }}" />
</head>

<body>
    <div class="fixed-top" style="width: 250px; background-color: white; padding: 10px; max-height: 100vh; overflow-x: auto;">
        <h1 class="display-6">Input waypoints</h1>
        <hr/>
        <hr/>
        <table class="table" id="main-table">
            <thead>
                <tr>
                    <th scope="col">Lat</th>
                    <th scope="col">Lng</th>
                    <th scope="col">Area</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button type="button" class="btn-warning" onclick="undoAddWaypoint()">Undo</button>
        <button type="button" class="btn-warning" onclick="purgeWaypoints()">Reset</button>
        <button type="button" class="btn-warning">Submit</button>
    </div>
    <div id="map" style="height: 100vh"></div>
</body>
<script src="{{ url_for('static', path='/js/leaflet.js') }}"></script>
<script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', path='/js/init_map.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/class_path.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/drawFunctions.js') }}" type="module"></script>
<script src="{{ url_for('static', path='/js/inputMap.js') }}" type="module"></script>

</html>