<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.css') }}" />
</head>

<body>
    <div class="fixed-top" style="width: 250px; background-color: white; padding: 10px; max-height: 100vh; overflow-x: auto;">
        <h1 class="display-6">Preview waypoints</h1>
        <hr/>
        <table class="table" id="main-table">
            <thead>
                <tr>
                    <th scope="col">Lat</th>
                    <th scope="col">Lng</th>
                    <th scope="col">Area</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="map" style="height: 100vh"></div>
</body>

<script src="{{ url_for('static', path='/js/leaflet.js') }}"></script>
<script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
<script>
    var crosshairLat = null;
    var crosshairLng = null;
    var map = null;

    document.addEventListener("DOMContentLoaded", function () {
        init_map();

        let sample_data = [[0, 0], [20, 40], [50, 20]]
        sample_data.forEach((data) => {
            displayCoordsData(data[0], data[1])
        })
    })

    function init_map() {
        document.getElementById('map').style.cursor = 'pointer'
        init_map_action();
        // spawnGoons();
        map.on("mousemove", onMouseMove);
        return map;
    }


    function onMouseMove(e) {
        crosshairLat.setLatLngs([new L.LatLng(e.latlng.lat, -180).wrap(), new L.LatLng(e.latlng.lat, 180).wrap()]);
        crosshairLng.setLatLngs([new L.LatLng(-90, e.latlng.lng).wrap(), new L.LatLng(90, e.latlng.lng).wrap()]);
    }

    function init_map_action() {
        var maxBounds = L.latLngBounds(L.latLng(-90, -180), L.latLng(90, 180));
        map = L.map("map", {
            attributionControl: false,
            minZoom: 2,
            maxZoom: 6,
            maxBounds: maxBounds,
        }).setView([30, 0], 2);

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(
            map
        );
        let options = {
            color: "green",
            weight: 1,
            opacity: 0.5,
            smoothFactor: 1,
            noWrap: false,
        }
        let options1 = {
            color: "red",
            weight: 0.3,
            opacity: 1,
            bubblingMouseEvents: false,
            // smoothFactor: 1,
            // noWrap: false,
        }
        //init lines for IDL and PM
        var pointA = new L.LatLng(90, 180.0);
        var pointB = new L.LatLng(-90, 180.0);
        var pointList = [pointA, pointB];
        var idl = new L.polyline(pointList, options);
        idl.addTo(map);
        var pointA = new L.LatLng(90, -180.0);
        var pointB = new L.LatLng(-90, -180.0);
        var pointList = [pointA, pointB];
        var idl2 = new L.polyline(pointList, options);
        idl2.addTo(map);
        // paintTestIcon(map, assetBank);
        crosshairLat = new L.polyline([new L.LatLng(0, -180), new L.LatLng(0, 180)], options1);
        crosshairLng = new L.polyline([new L.LatLng(90, 0), new L.LatLng(-90, 0)], options1);
        let newLayer = new L.layerGroup([crosshairLat, crosshairLng], { interactive: false })
        newLayer.addTo(map)
    }
    class Path {
        constructor(
            polyline,
            start,
            end
        ) {
            this.polyline = polyline;
            this.start = start;
            this.end = end;
            this.done = false;
            this.flightTime = null;
            this.startTime = null;
            this.distance = null;
            this.endTime = null;
            this.id = null;
            this.paused_time = null;
        }

        startFlight(startTime) {
            this.endTime = startTime + this.flightTime;
        }

        getProgress() {
            var currentTime = Date.now() / 1000;
            let progress = 1 - (this.endTime - currentTime) / this.flightTime;
            return progress
        }
    }

    var routeWeight = 0.2;

    function computePaths(latlngs0, latlngs1) {
        var new_lat = calculateAntimeridianLat(latlngs0, latlngs1);
        var isWestward = latlngs0.lng > latlngs1.lng;
        var new_latlng1 = L.latLng(new_lat, isWestward ? 180 : -180);
        var new_latlng2 = L.latLng(new_lat, isWestward ? -180 : 180);
        if (isDrawAntimeridian(latlngs0, new_latlng1, latlngs1, new_latlng2)) {
            var firstpolyline = new L.Polyline([latlngs0, new_latlng1], {
                color: "red",
                weight: routeWeight,
                smoothFactor: 1,
                //   noWrap: true,
            });
            var secondpolyline = new L.Polyline([latlngs1, new_latlng2], {
                color: "red",
                weight: routeWeight,
                smoothFactor: 1,
                //   noWrap: true,
            });
            var retVal_paths = [new Path(firstpolyline, latlngs0, new_latlng1),
            new Path(secondpolyline, new_latlng2, latlngs1)];
            return retVal_paths;
        } else {
            var firstpolyline = new L.Polyline([latlngs0, latlngs1], {
                color: "red",
                weight: routeWeight,
                smoothFactor: 1,
                //   noWrap: true,
            });
            retVal_paths = [new Path(firstpolyline, latlngs0, latlngs1)]
            return retVal_paths;
        }
    }

    function drawPaths(paths) {
        paths.forEach((path) => {
            path.polyline.addTo(map);
        });

    }

    function drawPoint(coords, draggable = false) {
        var startCircle = L.circle(coords, {
            color: "red",
            draggable: draggable,
            fillColor: "#f03",
            fillOpacity: 0.5,
            radius: 500000,
        });
        startCircle.addTo(map);
        return startCircle
    }


    function calculateAntimeridianLat(latLngA, latLngB) {
        if (latLngA.lat > latLngB.lat) {
            var temp = latLngA;
            latLngA = latLngB;
            latLngB = temp;
        }
        var A = 360 - Math.abs(latLngA.lng - latLngB.lng);
        var B = latLngB.lat - latLngA.lat;
        var a = Math.abs(180 - Math.abs(latLngA.lng));
        return latLngA.lat + (B * a) / A;
    }


    function isDrawAntimeridian(latLngA1, latLngA2, latLngB1, latLngB2) {
        return Math.abs(latLngA1.lng - latLngB1.lng) >= 180;
        var meas1 =
            (latLngA2.distanceTo(latLngA1) + latLngB2.distanceTo(latLngB1)) / 1000;
        var meas2 = latLngA1.distanceTo(latLngB1) / 1000;
        console.log(`ANTIMER ${meas1}, ACROSS${meas2}`);
        return meas1 < meas2 && isCrossMeridian(latLngA1, latLngB1);
    }


    function sign(x) {
        return typeof x === "number" ? (x ? (x < 0 ? -1 : 1) : 0) : NaN;
    }

    function isCrossMeridian(latLngA, latLngB) {
        // Returns true if the signs are not the same.
        return sign(latLngA.lng) * sign(latLngB.lng) < 0;
    }

    var waypoints = []


    function displayCoordsData(lat, lng) {
        // let data = await pullData(lat, lng);
        // let data = data.features[0].properties.geonunit
        let data = 'To implement'
        // const data = await response2.json();
        // console.log(data)
        let point = L.latLng(lat, lng).wrap();
        let pointObj = drawPoint(point, true)
        waypoints.push({
            pointObj: pointObj,
            path: null,
            point: point
        })
        let pointsLength = waypoints.length;
        if (pointsLength > 1) {
            let start = waypoints[pointsLength - 2].point
            let end = waypoints[pointsLength - 1].point
            let paths = computePaths(start, end)
            drawPaths(paths)
            waypoints[pointsLength - 1].path = paths
        }
        let htmlString = `
        <div class="btn-group">
            <button type="button" class="btn btn-light" onclick="removeData(event)">Accept</button>
            <button type="button" class="btn btn-dark">Reject</button>
        </div>
    `
        var table = document.getElementById("main-table");
        let row = table.insertRow();
        let cell1 = row.insertCell();
        let cell2 = row.insertCell();
        let cell3 = row.insertCell();
        cell1.innerHTML = point.lat.toFixed(2);
        cell2.innerHTML = point.lng.toFixed(2);
        cell3.innerHTML = data;
    }


</script>



</html>